*{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'inter', sans-serif;
    font-family: 'manrope', sans-serif;
    max-width: 1500px;
}


  .parent-container{
    height: 400px ;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    max-width: 1500px;
    margin-right: auto;
    margin-left: auto;
}


.first-div{
    border: 1px solid #d9d9d9;
    height: 100%;
    width: 50%;
    background: #d9d9d9;
    /* padding for top, right, bottom and left. */
    padding: 20px;
}

.second-div{
    border: 1px solid tomato;
    height: 100%;
    width: 50%;
    background: url(iimages/image1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom left;
    position: relative;
    display: flex;
    background-size: cover;
}

.headerwriteup{
    color: tomato;
}

.smartline{
    height: 16px;
    width: 224px;
    background: tomato;
}

.project-logoname{
    margin-bottom: 30px;
}

.main-headertext{
    margin-bottom: 30px;
}

p{
    margin-bottom: 40px;
}

.header-linkholder{
    color: white;
    display: flex;
    justify-content: space-around;
    z-index: 3;
    width: 100%;
}

.background-overlay{
    width: 100%;
    height: 100%;
    background: rgba(255, 99, 71, 0.2);
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}

.middle-contentholder{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 1500px;
}
.middlediv-left{
    background: #d9d9d9;
    width: 300px;
    height: 400px;
    padding: 25px;
}

.middlediv-right{
    height: 460px;
    width: 320px;
    margin-left: 20px;
}
img{
    width: 100%;
    height: 100%;
}

p{
    margin: 10px 0px;
}
.middlediv-heading{
    margin: 20px;
}
.thirdsection-leftdiv,
.thirdsection-rightdiv{
    width: 330px;
    height: 430px;
}
.third-section{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    background: #d9d9d9;
    padding: 40px 0;
    max-width: 1500px;
    margin-right: auto;
    margin-left: auto;
}
.thirdsection-leftdiv{
    background: #d9d9d9;
}
.thirdsection-rightdiv{
    background: #ff6347;
    padding: 15px 25px 15px 25px;
}
.footer{
    background: #ff6347;
    color: white;
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
    max-width: 1500px;
    margin-right: auto;
    margin-left: auto;
}

/* .footer-icon svg{
    /* font-size: 25px; */
    /* width: 25px; */

.footer-iconholdder{
    width: 200px;
    text-align: center;
}
.iconholder svg{
    width: 20px;
    height: 20px;
    fill: white
}

@media screen and (max-width:900px){
    p{
        font-size: 16px;
    }
    .parent-container{
        height: 510px;
    }
    .main-headertext{
        font-size: 24px;
    }
    .first-div{
        width: 60%;
    }
    .second-div{
        width: 40%;
    }
    .smartline{
        width: 170px;
    }
    .header-linkholder{
        flex-direction: column;
        justify-content: flex-start;
        padding-top: 40px;
        padding-left: 40px;
    }
    .header-linkholder h4{
        margin-bottom: 20px;
    }
    .middle-contentholder{
        flex-direction: column;
    }
    .middlediv-right{
        margin-left: 0;
    }
    .middlediv-left{
        margin-bottom: 30px;
    }
    .third-section{
        flex-direction: column-reverse;
        align-items: center;
    }
    .thirdsection-leftdiv{
        margin-top: 30px;
    }
    .footer{
        flex-direction: column;
        align-items: center;
    }
}